<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>
<h1>현재 날씨</h1>
<div id="weather"></div>

<script>

    function onGeoOk(position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;

        fetch(`https://api.openweathermap.org/data/2.5/weather?lat=${latitude}&lon=${longitude}&appid=${API_KEY}&units=metric`)
            .then(response => response.json())
            .then(data => {
                const weatherDiv = document.getElementById('weather');
                const temperature = Math.round(data.main.temp); // 소수점 반올림
                weatherDiv.innerHTML = `온도: ${temperature}°C, 날씨: ${data.weather[0].main}`;
            });
    }

    function onGeoError() {
        alert("에러!");
    }

    navigator.geolocation.getCurrentPosition(onGeoOk, onGeoError);
</script>
</body>
</html>
